@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,300&display=swap');

body {
    margin: 0;
 }

.header {
    font-family: 'Roboto', sans-serif;
    color: #F9FAF6;
    font-size: 24px;
    flex:1;
    margin:0;
    text-align: center;
    
}       

.second-header {
    font-family: 'Roboto', sans-serif;
    color: #E5E7EB;
    list-style-type: none;
    display: flex;
    flex:1;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content:center;
    gap: 13px;
}

.nav-container {
    background-color: #1F2947;
    padding-top: 5px;
    padding-bottom: 10px;
    display: flex;
}

h2 {
    font-size: 18px;
}

.second-container {
    background-color: #1F2947;
    display: flex;
    padding-bottom: 100px;
    gap: 100px;
    justify-content: center;
    
}

#highlight{
    font-family: 'Roboto', sans-serif;
    color: #F9FAF6;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 20px;
}

.divider {

    align-items: center;
    display: flex;
    flex-direction:column;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    color: #E5E7EB;
    margin-top: 75px;
}

#greybox{
    height: 150px;
    width: 320px;
    background-color: grey;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    
    
}


button {
        background-color: #3882F6;
        color: #F9FAF6;
        font-family: Roboto;
        border: none;
        border-radius: 8px;
        padding: 5px 20px;
}

.sndbutton {
    border: 5px solid;
    border-color: #3882F6;
    background-color: transparent;
    
    height: 75px;
    width: 75px;
}
ul {
    list-style-type: none;
}

#infotext{
    text-align: center;
    font-family: Roboto;
    font-weight: bold;
    font-size: 36px;
    flex: 1;
}


li > p {
    flex-wrap: wrap;
    inline-size: 120px;
    overflow-wrap: break-word;
}

#infocontainer {
    display: flex;
    flex-direction: column;
}

.quotesection{
    background-color: #E5E7EB;
    padding: 100px 0px;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.quote{
    text-align: center;
    font-family: 'roboto', sans-serif;
    font-size: 36px;
    color: #1f2937;
}

.quotesig{
    text-align: right;
    padding-right: 130px;
    margin-top: 0;
    
    font-family: Roboto;
    font-weight: bold;
    font-size: 24px;
}

.bluebox{
    flex: auto;
    display: flex;
    margin: 70px 200px;
    background-color: #3882F6;
    border-radius: 8px;
    padding: 20px;
    
}

.leftblue{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-items: center;
    padding-left: 70px;
}
.bluetop{
    font-family: 'Roboto', sans-serif;
    color: #F9FAF6;
    font-size: 24px;
    margin: 0;
   
}

.bluebottom{
    font-family: 'Roboto', sans-serif;
    color: #E5E7EB;
    margin: 0;
}

.lastbutton{
    border: 2px solid;
    border-color: #F9FAF6;
}

.last-container{
    background-color: #1F2947;
    padding-top: 5px;
    padding-bottom: 5px;
    
    color: #F9FAF6;

}